* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  max-width: 1240px;
  width: 100%;
  height: 72px;
  margin: auto;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
  max-width: 90px;
  align-items: center;
}

.logo-container img {
  height: 30px;
}

nav {
  flex: 2;
  padding-left: 30px;
}

.nav-links {
  justify-content: space-evenly;
  list-style: none;
  /*margin-right: 353px;*/
}

.push {
  margin-left: auto;
}

.nav-link {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  padding-right: 0px;
}

.nav-links li {
  padding: 18px 0px 20px 0px;
  border-top: 2px solid white;
  height: 70px;
  margin-right: 20px;
}

.nav-links li button {
  padding: 0px 25px 20px 25px;
  align-items: inherit;
  border-top: 20px solid #0abf53;
}

.nav-links li:hover {
  border-top: 2px solid #0abf53;
}

.search {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
}

.menu-arrow {
  width: 15px;
}

.nav-links button {
  display: flex;
  margin-right: -20px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Maven Pro", sans-serif;
  font-size: 18px;
  width: 100vw;
  margin: auto;
}

.contact-button {
  color: white;
  background-color: #0abf53;
  height: 40px;
  border-radius: 6px;
  border-color: #0abf53;
  border-style: solid;
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-button:hover {
  background-color: #078f3e;
  border-color: #078f3e;
  cursor: pointer;
  transition: 0.5s;
}

.video-container {
  width: 1150px;
  overflow: hidden;
  display: block;
  height: 680px;
}

.video-container video {
  width: 600px;
}

.information {
  display: flex;
}

.first-section {
  max-width: 1248px;
  width: 100%;
  margin: auto;
}

.section1-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 155px;
}

.section1-left h1 {
  font-size: 64px;
  font-weight: bolder;
  width: 490px;
  text-align: left;
  padding-bottom: 20px;
}

.section1-left p {
  max-width: 65ch;
  line-height: 3ch;
  padding-bottom: 20px;
  font-size: 20px;
}

.logobar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 20px;
}

.logobar img {
  min-width: 160px;
  min-height: 70px;
}
